body {
    background-color: grey;
    margin: 0;
    padding: 0;
}

header {
    background:
      radial-gradient(circle farthest-side at 0% 50%,#85889d 23.5%,#0000 0)71.4px 102px,
      radial-gradient(circle farthest-side at 0% 50%,#000000 24%,#0000 0)64.6px 102px,
      linear-gradient(#85889d 14%,#0000 0, #0000 85%,#85889d 0)0 0,
      linear-gradient(150deg,#85889d 24%,#000000 0,#000000 26%,#0000 0,#0000 74%,#000000 0,#000000 76%,#85889d 0)0 0,
      linear-gradient(30deg,#85889d 24%,#000000 0,#000000 26%,#0000 0,#0000 74%,#000000 0,#000000 76%,#85889d 0)0 0,
      linear-gradient(90deg,#000000 2%,#85889d 0,#85889d 98%,#000000 0%)0 0 #85889d;
background-size: 136px 204px;
background-color: #85889d;
    height: 1200px;
    position: relative;
}

.left-header {
    position: absolute;
    top: 10px;
    left: 20px;
}

.left-header img {
    width: 350px;
    height: 250px;
}

.right-header {
    position: absolute;
    top: 60px;
    right: 60px;
    display: flex;
    gap: 10px;
}

.right-header img {
    width: 79px;
    height: 79px;
}

.center-header {
    position: absolute;
    top: 40%; /* Center vertically */
    left: 49%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    display: flex;
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center align horizontally */
}

.center-header img {
    width: 700px;
    height: 600px;
}

.center-header-bottom {
    position: absolute;
    top: 75%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for perfect centering */
    display: flex;
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center align horizontally */
}
.center-header-bottom img{
    width: 900px;
    height: 400px;
}

section {
    background-color: rgb(65, 108, 161);
    color: black;
    height: 300px;
}

footer {
    background-color: white;
    color: black;
    height: 200px;
}
